:root {
    --bds-border-radius-sm: 0.125rem;
    --bds-border-radius-md: 0.25rem;
    --bds-border-radius-lg: 0.5rem;
    --bds-border-radius-circle: 8rem;
    --bds-border-width-sm: 0.0625rem;
    --bds-border-width-md: 0.125rem;
    --bds-border-width-lg: 0.1875rem;
    --bds-border-width-xl: 0.5rem;
    --bds-grid-breakpoint-xs-min: 0rem;
    --bds-grid-breakpoint-xs-max: 20rem;
    --bds-grid-breakpoint-sm-min: 20.0625rem;
    --bds-grid-breakpoint-sm-max: 42rem;
    --bds-grid-breakpoint-md-min: 42.0625rem;
    --bds-grid-breakpoint-md-max: 66rem;
    --bds-grid-breakpoint-lg-min: 66.0625rem;
    --bds-grid-breakpoint-lg-max: 82rem;
    --bds-grid-breakpoint-xl-min: 82.0625rem;
    --bds-grid-breakpoint-xl-max: 99rem;
    --bds-grid-breakpoint-xxl-min: 99.0625rem;
    --bds-grid-breakpoint-xxl-max: 117rem;
    --bds-grid-padding: 1rem;
    --bds-grid-margin-none: 0rem;
    --bds-grid-margin-sm: 1rem;
    --bds-grid-margin-md: 1.5rem;
    --bds-grid-margin-lg: 2.5rem;
    --bds-shadows-shadow-01: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    --bds-shadows-shadow-02: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.2);
    --bds-shadows-shadow-03: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);
    --bds-shadows-shadow-04: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12);
    --bds-shadows-shadow-05: 0px 8px 10px rgba(0, 0, 0, 0.2), 0px 16px 24px rgba(0, 0, 0, 0.14), 0px 6px 30px rgba(0, 0, 0, 0.12);
    --bds-shadows-shadow-06: 0px 11px 15px rgba(0, 0, 0, 0.2), 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12);
    --bds-sizes-size-0: 0rem;
    --bds-sizes-size-1: 0.0625rem;
    --bds-sizes-size-2: 0.125rem;
    --bds-sizes-size-3: 0.1875rem;
    --bds-sizes-size-4: 0.25rem;
    --bds-sizes-size-5: 0.3125rem;
    --bds-sizes-size-6: 0.375rem;
    --bds-sizes-size-7: 0.4375rem;
    --bds-sizes-size-8: 0.5rem;
    --bds-sizes-size-10: 0.625rem;
    --bds-sizes-size-12: 0.75rem;
    --bds-sizes-size-14: 0.875rem;
    --bds-sizes-size-16: 1rem;
    --bds-sizes-size-18: 1.125rem;
    --bds-sizes-size-20: 1.25rem;
    --bds-sizes-size-24: 1.5rem;
    --bds-sizes-size-28: 1.75rem;
    --bds-sizes-size-32: 2rem;
    --bds-sizes-size-36: 2.25rem;
    --bds-sizes-size-40: 2.5rem;
    --bds-sizes-size-44: 2.75rem;
    --bds-sizes-size-48: 3rem;
    --bds-sizes-size-52: 3.25rem;
    --bds-sizes-size-56: 3.5rem;
    --bds-sizes-size-60: 3.75rem;
    --bds-sizes-size-64: 4rem;
    --bds-sizes-size-68: 4.25rem;
    --bds-sizes-size-72: 4.5rem;
    --bds-sizes-size-76: 4.75rem;
    --bds-sizes-size-80: 5rem;
    --bds-sizes-size-84: 5.25rem;
    --bds-sizes-size-88: 5.5rem;
    --bds-sizes-size-92: 5.75rem;
    --bds-sizes-size-96: 6rem;
    --bds-sizes-size-100: 6.25rem;
    --bds-sizes-size-104: 6.5rem;
    --bds-sizes-size-108: 6.75rem;
    --bds-sizes-size-112: 7rem;
    --bds-sizes-size-116: 7.25rem;
    --bds-sizes-size-120: 7.5rem;
    --bds-sizes-size-124: 7.75rem;
    --bds-sizes-size-128: 8rem;
    --bds-font-weight-regular: 400;
    --bds-font-weight-medium: 500;
    --bds-font-weight-semibold: 600;
    --bds-font-family-roboto: Roboto, Helvetica, Arial, sans-serif;
    --bds-font-family-fellix: Fellix, Arial, sans-serif;
    --bds-font-tag-h1-desktop-font-size: 2.5rem;
    --bds-font-tag-h1-desktop-line-height: 3.5rem;
    --bds-font-tag-h1-mobile-font-size: 1.75rem;
    --bds-font-tag-h1-mobile-line-height: 2.5rem;
    --bds-font-tag-h2-desktop-font-size: 1.75rem;
    --bds-font-tag-h2-desktop-line-height: 2.5rem;
    --bds-font-tag-h2-mobile-font-size: 1.5rem;
    --bds-font-tag-h2-mobile-line-height: 2rem;
    --bds-font-tag-h3-desktop-font-size: 1.5rem;
    --bds-font-tag-h3-desktop-line-height: 2rem;
    --bds-font-tag-h3-mobile-font-size: 1.25rem;
    --bds-font-tag-h3-mobile-line-height: 2rem;
    --bds-font-tag-h4-desktop-font-size: 1.25rem;
    --bds-font-tag-h4-desktop-line-height: 2rem;
    --bds-font-tag-h4-mobile-font-size: 1rem;
    --bds-font-tag-h4-mobile-line-height: 1.5rem;
    --bds-font-tag-h5-desktop-font-size: 1rem;
    --bds-font-tag-h5-desktop-line-height: 1.5rem;
    --bds-font-tag-h5-mobile-font-size: 0.875rem;
    --bds-font-tag-h5-mobile-line-height: 1.5rem;
    --bds-font-tag-h6-desktop-font-size: 0.875rem;
    --bds-font-tag-h6-desktop-line-height: 1.5rem;
    --bds-font-tag-h6-mobile-font-size: 0.75rem;
    --bds-font-tag-h6-mobile-line-height: 1rem;
    --bds-font-tag-body-1-desktop-font-size: 1rem;
    --bds-font-tag-body-1-desktop-line-height: 1.5rem;
    --bds-font-tag-body-1-mobile-font-size: 0.875rem;
    --bds-font-tag-body-1-mobile-line-height: 1.5rem;
    --bds-font-tag-body-2-desktop-font-size: 0.875rem;
    --bds-font-tag-body-2-desktop-line-height: 1.5rem;
    --bds-font-tag-body-2-mobile-font-size: 0.75rem;
    --bds-font-tag-body-2-mobile-line-height: 1rem;
    --bds-font-tag-article-desktop-font-size: 1rem;
    --bds-font-tag-article-desktop-line-height: 2rem;
    --bds-font-tag-article-mobile-font-size: 0.875rem;
    --bds-font-tag-article-mobile-line-height: 2rem;
    --bds-font-tag-caption-desktop-font-size: 0.875rem;
    --bds-font-tag-caption-desktop-line-height: 1.5rem;
    --bds-font-tag-caption-mobile-font-size: 0.75rem;
    --bds-font-tag-caption-mobile-line-height: 1rem;
    --bds-font-tag-footnote-desktop-font-size: 0.75rem;
    --bds-font-tag-footnote-desktop-line-height: 1rem;
    --bds-font-tag-footnote-mobile-font-size: 0.625rem;
    --bds-font-tag-footnote-mobile-line-height: 1rem;
    --bds-font-tag-overline-desktop-font-size: 0.75rem;
    --bds-font-tag-overline-desktop-line-height: 1rem;
    --bds-font-tag-overline-mobile-font-size: 0.75rem;
    --bds-font-tag-overline-mobile-line-height: 1rem;
    --bds-font-tag-label-desktop-font-size: 1rem;
    --bds-font-tag-label-desktop-line-height: 1.5rem;
    --bds-font-tag-label-mobile-font-size: 0.75rem;
    --bds-font-tag-label-mobile-line-height: 1rem;
    --bds-font-tag-helper-text-desktop-font-size: 0.75rem;
    --bds-font-tag-helper-text-desktop-line-height: 0.75rem;
    --bds-font-tag-helper-text-mobile-font-size: 0.75rem;
    --bds-font-tag-helper-text-mobile-line-height: 0.75rem;
    --bds-z-index-floating: 1050;
    --bds-z-index-overlay: 1150;
    --bds-z-index-drawer: 1200;
    --bds-z-index-modal: 1300;
    --bds-z-index-notification: 1400;
    --bds-z-index-tooltip: 1500;
    --bds-color-marketing-interactive: hsl(213, 73%, 60%, 1);
    --bds-color-text-interactive: hsl(213, 73%, 68%, 1);
    --bds-color-text-interactive-inverse: hsl(213, 84%, 45%, 1);
    --bds-color-icon-interactive: hsl(213, 73%, 68%, 1);
    --bds-color-icon-interactive-inverse: hsl(213, 84%, 45%, 1);
    --bds-color-border-interactive: hsl(213, 73%, 68%, 1);
    --bds-color-border-interactive-inverse: hsl(213, 84%, 45%, 1);
    --bds-color-focus-interactive: hsl(213, 73%, 60%, 1);
    --bds-color-action-interactive: hsl(213, 73%, 60%, 1);
    --bds-color-action-interactive-hover: hsl(213, 73%, 68%, 1);
    --bds-color-action-interactive-pressed: hsl(213, 72%, 73%, 1);
    --bds-color-action-interactive-subdued: hsl(212, 70%, 17%, 1);
    --bds-color-action-interactive-subdued-hover: hsl(212, 72%, 19%, 1);
    --bds-color-action-interactive-subdued-pressed: hsl(212, 74%, 20%, 1);
    --bds-color-highlight: hsl(220, 100%, 15%, 1);
    --bds-color-marketing-dark-blue: hsl(222, 81%, 31%, 1);
    --bds-color-surface-dark-blue: hsl(222, 81%, 31%, 1);
    --bds-color-surface-dark-blue-subdued: hsl(221, 55%, 18%, 1);
    --bds-color-surface-dark-blue-inverse: hsl(222, 98%, 21%, 1);
    --bds-color-surface-dark-blue-subdued-inverse: hsl(222, 25%, 92%, 1);
    --bds-color-marketing-blue: hsl(196, 78%, 27%, 1);
    --bds-color-surface-blue: hsl(196, 78%, 61%, 1);
    --bds-color-surface-blue-subdued: hsl(207, 100%, 13%, 1);
    --bds-color-surface-blue-inverse: hsl(196, 100%, 44%, 1);
    --bds-color-surface-blue-subdued-inverse: hsl(196, 79%, 94%, 1);
    --bds-color-marketing-light-blue: hsl(204, 67%, 84%, 1);
    --bds-color-surface-light-blue: hsl(204, 67%, 84%, 1);
    --bds-color-surface-light-blue-subdued: hsl(211, 100%, 10%, 1);
    --bds-color-surface-light-blue-inverse: hsl(204, 67%, 76%, 1);
    --bds-color-surface-light-blue-subdued-inverse: hsl(203, 67%, 98%, 1);
    --bds-color-marketing-green: hsl(142, 37%, 48%, 1);
    --bds-color-text-green: hsl(142, 37%, 48%, 1);
    --bds-color-text-green-inverse: hsl(142, 86%, 28%, 1);
    --bds-color-icon-green: hsl(142, 37%, 48%, 1);
    --bds-color-icon-green-inverse: hsl(142, 86%, 28%, 1);
    --bds-color-border-green: hsl(142, 37%, 55%, 1);
    --bds-color-border-green-inverse: hsl(142, 86%, 28%, 1);
    --bds-color-surface-green: hsl(142, 37%, 48%, 1);
    --bds-color-surface-green-subdued: hsl(166, 42%, 20%, 1);
    --bds-color-surface-green-inverse: hsl(142, 100%, 35%, 1);
    --bds-color-surface-green-subdued-inverse: hsl(141, 61%, 90%, 1);
    --bds-color-action-green: hsl(142, 37%, 48%, 1);
    --bds-color-action-green-hover: hsl(142, 37%, 55%, 1);
    --bds-color-action-green-pressed: hsl(142, 37%, 60%, 1);
    --bds-color-action-green-subdued: hsl(195, 55%, 11%, 1);
    --bds-color-action-green-subdued-hover: hsl(195, 56%, 13%, 1);
    --bds-color-action-green-subdued-pressed: hsl(195, 58%, 14%, 1);
    --bds-color-marketing-red: hsl(350, 40%, 64%, 1);
    --bds-color-text-red: hsl(350, 40%, 64%, 1);
    --bds-color-text-red-inverse: hsl(350, 73%, 35%, 1);
    --bds-color-icon-red: hsl(350, 40%, 64%, 1);
    --bds-color-icon-red-inverse: hsl(350, 73%, 35%, 1);
    --bds-color-border-red: hsl(350, 40%, 64%, 1);
    --bds-color-border-red-inverse: hsl(350, 73%, 35%, 1);
    --bds-color-surface-red: hsl(350, 40%, 64%, 1);
    --bds-color-surface-red-subdued: hsl(348, 61%, 11%, 1);
    --bds-color-surface-red-inverse: hsl(350, 73%, 35%, 1);
    --bds-color-surface-red-subdued-inverse: hsl(350, 33%, 96%, 1);
    --bds-color-action-red: hsl(350, 40%, 64%, 1);
    --bds-color-action-red-hover: hsl(350, 40%, 58%, 1);
    --bds-color-action-red-pressed: hsl(349, 40%, 51%, 1);
    --bds-color-action-red-subdued: hsl(348, 61%, 11%, 1);
    --bds-color-action-red-subdued-hover: hsl(348, 61%, 14%, 1);
    --bds-color-action-red-subdued-pressed: hsl(348, 61%, 16%, 1);
    --bds-color-marketing-gold: hsl(41, 91%, 70%, 1);
    --bds-color-surface-gold: hsl(41, 91%, 70%, 1);
    --bds-color-surface-gold-subdued: hsl(41, 27%, 38%, 1);
    --bds-color-surface-gold-inverse: hsl(41, 91%, 57%, 1);
    --bds-color-surface-gold-subdued-inverse: hsl(41, 92%, 90%, 1);
    --bds-color-marketing-lfp-yellow: hsl(48, 88%, 60%, 1);
    --bds-color-text-solid-inverse: hsl(0, 0%, 0%, 1);
    --bds-color-text-primary-inverse: hsl(0, 0%, 0%, .87);
    --bds-color-text-secondary-inverse: hsl(0, 0%, 0%, .70);
    --bds-color-text-tertiary-inverse: hsl(0, 0%, 0%, .60);
    --bds-color-text-disabled-inverse: hsl(0, 0%, 0%, .30);
    --bds-color-icon-solid-inverse: hsl(0, 0%, 0%, 1);
    --bds-color-icon-primary-inverse: hsl(0, 0%, 0%, .87);
    --bds-color-icon-secondary-inverse: hsl(0, 0%, 0%, .70);
    --bds-color-icon-tertiary-inverse: hsl(0, 0%, 0%, .60);
    --bds-color-icon-disabled-inverse: hsl(0, 0%, 0%, .30);
    --bds-color-border-default-inverse: hsl(0, 0%, 0%, .44);
    --bds-color-border-hover-inverse: hsl(0, 0%, 0%, .52);
    --bds-color-border-pressed-inverse: hsl(0, 0%, 0%, .60);
    --bds-color-border-subdued-inverse: hsl(0, 0%, 0%, .12);
    --bds-color-border-contrast-inverse: hsl(0, 0%, 0%, .90);
    --bds-color-border-disabled-inverse: hsl(0, 0%, 0%, .30);
    --bds-color-focus-inverse: hsl(221, 100%, 6%, 1);
    --bds-color-surface-default: hsl(221, 100%, 6%, 1);
    --bds-color-surface-default-inverse: hsl(0, 0%, 100%, 1);
    --bds-color-surface-subdued: hsl(222, 54%, 11%, 1);
    --bds-color-elevation-01: hsl(223, 66%, 9%, 1);
    --bds-color-elevation-02: hsl(222, 54%, 11%, 1);
    --bds-color-elevation-03: hsl(222, 45%, 13%, 1);
    --bds-color-elevation-04: hsl(221, 39%, 15%, 1);
    --bds-color-elevation-05: hsl(221, 34%, 17%, 1);
    --bds-color-elevation-06: hsl(221, 30%, 18%, 1);
    --bds-color-action-neutral: hsl(222, 54%, 6%, 1);
    --bds-color-action-neutral-hover: hsl(222, 45%, 13%, 1);
    --bds-color-action-neutral-pressed: hsl(223, 31%, 18%, 1);
    --bds-color-white: hsl(0, 0%, 100%, 1);
    --bds-color-black: hsl(0, 0%, 0%, 1);
    --bds-color-text-solid: hsl(0, 0%, 100%, 1);
    --bds-color-text-primary: hsl(0, 0%, 100%, .87);
    --bds-color-text-secondary: hsl(0, 0%, 100%, .70);
    --bds-color-text-tertiary: hsl(0, 0%, 100%, .60);
    --bds-color-text-disabled: hsl(0, 0%, 100%, .30);
    --bds-color-icon-solid: hsl(0, 0%, 100%, 1);
    --bds-color-icon-primary: hsl(0, 0%, 100%, .87);
    --bds-color-icon-secondary: hsl(0, 0%, 100%, .70);
    --bds-color-icon-tertiary: hsl(0, 0%, 100%, .60);
    --bds-color-icon-disabled: hsl(0, 0%, 100%, .30);
    --bds-color-border-default: hsl(220, 7%, 47%, 1);
    --bds-color-border-hover: hsl(221, 7%, 55%, 1);
    --bds-color-border-pressed: hsl(222, 7%, 63%, 1);
    --bds-color-border-subdued: hsl(0, 0%, 100%, .12);
    --bds-color-border-contrast: hsl(0, 0%, 100%, .90);
    --bds-color-border-disabled: hsl(222, 13%, 34%, 1);
    --bds-color-focus-default: hsl(0, 0%, 44%, 1);
    --bds-color-neutral-01: hsl(0, 0%, 9%, 1);
    --bds-color-neutral-02: hsl(0, 0%, 15%, 1);
    --bds-color-neutral-03: hsl(0, 0%, 22%, 1);
    --bds-color-neutral-04: hsl(0, 0%, 32%, 1);
    --bds-color-neutral-05: hsl(0, 0%, 44%, 1);
    --bds-color-neutral-06: hsl(0, 0%, 55%, 1);
    --bds-color-neutral-07: hsl(0, 0%, 66%, 1);
    --bds-color-neutral-08: hsl(0, 0%, 78%, 1);
    --bds-color-neutral-09: hsl(0, 0%, 88%, 1);
    --bds-color-neutral-10: hsl(0, 0%, 96%, 1);
    --bds-color-skeleton-01: hsl(0, 0%, 21%, 1);
    --bds-color-skeleton-02: hsl(0, 0%, 32%, 1);
    --bds-color-overlay: hsl(0, 0%, 100%, .20);
    --bds-color-text-visited-link: hsl(263, 100%, 79%, 1);
    --bds-name: dark;
}