{
    "env": {
        "browser": false,
        "node": false
    },
    "rules":{
        "indent": [2, "tab"],
        "no-tabs": 0,
        "import/prefer-default-export": "off",
        "no-mixed-spaces-and-tabs": 0
    }
}